<html>
<head>

</head>
<body>
    <div id="map" style="width:100%;height:100%"></div>
</body>
<script>
    function myMap() {
    var mapOptions = {
        center: new google.maps.LatLng(53.347521, -6.259077),
        zoom: 14.25,
        mapTypeId: google.maps.MapTypeId.roadmap
    };
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
function newMarkers(root1){
    var xmlreq = new XMLHttpRequest;
        var url = "root1.json";
        xmlreq.onreadystatechange = function(){
        if(xmlreq.readyState == 4 && xmlreq.status == 200){
            var parsedData = JSON.parse(xmlreq.responseText);
            newMarkers(parsedData);
        }
    };
    xmlreq.open("GET", url, true);
    xmlreq.send();
    var stations = root1;
    console.log(stations);
    for (i in stations) {
        var lati = stations[i].lat;
        var long = stations[i].lng;
        var name = stations[i].address;
        var marker = new google.maps.Marker({
        position: {lat: lati, lng: long},
        title: name
        });
        marker.setMap(map);
    }
}
newMarkers();
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyB3UCB640zi7tQblqiBA0JhFN0g057f81I&callback=myMap"></script>
</html>